<style xmlns="http://www.w3.org/1999/html">
    .entry{
        border: 0px;
        border-bottom-style:dashed ;
        border-bottom-color:#000000 ;
        border-bottom-width:2px ;
        width: 100%;
        background-color: #ffffff;
    }
    td,th{
        text-align: center;
    }
</style>

<div class="col-md-12">
    <div class="col-xs-4">
        Mkoa
        <select class="entry" ng-model="currentKaya.region">
            <option ng-repeat="region in data.regions" value="{{ region.id }}">{{ region.region }}</option>
        </select>
    </div>
    <div class="col-xs-4">
        Wilaya
        <select class="entry" ng-model="currentKaya.district" required ng-change="getWards(currentKaya.district)">
            <option ng-repeat="district in data.districts | filter:matchName(currentKaya.region)" value="{{ district.id }}">{{ district.district }}</option>
        </select>
    </div>
    <div class="col-xs-4">
        Kata
        <select class="entry" ng-model="currentKaya.ward" ng-change="getVillages(currentKaya.ward)">
            <option ng-repeat="ward in data.disward" value="{{ ward.id }}">{{ ward.name }}</option>
        </select>
    </div>

</div>

<div class="col-md-12">
    <div class="col-xs-4">
        Kijiji/Mtaa
        <select class="entry" ng-model="currentKaya.village" >
            <option ng-repeat="village in data.disvillage" value="{{ village.id }}" >{{ village.name }}</option>
        </select>
    </div>
    <div class="col-xs-4">
        Jina la VEO
        <input type="text" class="entry">
    </div>
    <div class="col-xs-4">
        Jina la Kituo cha ugawaji
        <input type="text" class="entry">
    </div>
</div>
    <md-button class="pull-right md-primary md-hue-3 md-raised" ng-click="getList(currentKaya)" style="margin: 15px">Get List
        <md-tooltip>
           Display The list
        </md-tooltip>
    </md-button>
   <md-button href="index.php/distribution_list/{{ currentKaya.region }}/{{ currentKaya.district }}/{{ currentKaya.ward }}/{{ currentKaya.village }}" target="_blank" ng-show="showList && data.kaya.length != 0" class=" pull-right md-fab md-raised" style="width: 35px;height: 35px;margin: 15px"><img src="bower_components/icons/ic_print_24px.svg">
       <md-tooltip>
           Print The list
       </md-tooltip>
   </md-button>

<md-whiteframe class="md-whiteframe-z5" ng-show="showList">
    <div>
    <table class="table table-striped table-hover table-condensed" style="border-right: 1px solid #92B4D2;border-left: 1px solid #92B4D2;border-bottom: 1px solid #92B4D2">
        <thead style="background-image: -webkit-gradient(linear, left top, left bottom, from(#92B4D2), to(#E4E4E4))">
        <tr >
            <th rowspan="2">Na</th>
            <th rowspan="2">Voucher Number</th>
            <th rowspan="2">Jina La Mkuu wa kaya</th>
            <th colspan="3" style="border: 0px;background-image: -webkit-gradient(linear, left top, left bottom, from(#92B4D2), to(#92B4D2))">Idadi ya Wanakaya</th>
            <th rowspan="2">Idadi ya Vyandarua</th>
        </tr>
        <tr>
            <th style="border: 0px">Me</th>
            <th style="border: 0px">Ke</th>
            <th style="border: 0px">Jumla</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="data.kaya.length != 0">
            <td colspan="7" class="text-center"><h4>No Data</h4></td>
        </tr>
        <tr ng-repeat="kaya in data.kaya | orderBy:'-id'" class="repeated-item">
            <td>{{ $index+1 }}</td>
            <td>{{ kaya.uid }}</td>
            <td>{{ kaya.leader_name }}</td>
            <td>{{ kaya.male }}</td>
            <td>{{ kaya.female}}</td>
            <td>{{ findSum(kaya) }}</td>
            <td>{{ findSum(kaya)/2 }}</td>
        </tr>
        </tbody>
    </table>
    </div>
</md-whiteframe>