<h3>Net Distribution Status</h3>
        <table class="table table-condensed">
            <tr>
                <th></th>
                <th>Region</th>
                <th>Male</th>
                <th>Female</th>
                <th>Total</th>
                <th>Nets Required</th>
                <th>Distribution Status</th>
            </tr>
            <tr ng-repeat-start="region in data.regions">
                <td>
                    <a ng-if="!districtVisible[region.id]" class="media-left" ng-click="showDistrictDetails(region)" ><i class="fa fa-chevron-down"></i></a>
                    <a ng-if="districtVisible[region.id]" class="media-left" ng-click="hideDistrictDetails(region)" ><i class="fa fa-chevron-up"></i></a>
                </td>
                <td>{{ region.region }}</td>
                <td>{{ region.people.male }}</td>
                <td>{{ region.people.female }}</td>
                <td>{{ region.people.total }}</td>
                <td>{{ region.people.total/2 | number:0 }}</td>
                <td><input type="checkbox" ng-model="region.status"> {{ region.status ? 'done': 'Not Done' }} </td>
            </tr>
            <tr ng-repeat-end >
                <td ng-if="districtVisible[region.id]"></td >
                <td colspan="4" ng-if="districtVisible[region.id]" >
                    <h5>{{ region.region }} Region  Net Distribution Status</h5>
                    <table class="table table-bordered table-responsive" style="background-image: url(mh.png);background-repeat: no-repeat;background-size: cover;">
                        <tr>
                            <th>Name</th>
                            <th>Female</th>
                            <th>Male</th>
                            <th>Total</th>
                            <th>Required Nets</th>
                            <th>Distribution Status</th>
                        </tr>
                        <tr ng-repeat="district in region.districts">
                            <td>{{ district.district }}</td>
                            <td>{{ district.people.male }}</td>
                            <td>{{ district.people.female }}</td>
                            <td>{{ district.people.total }}</td>
                            <td>{{ district.people.total/2 | number:0 }}</td>
                            <td><input type="checkbox" ng-model="district.status"> {{ district.status ? 'done': 'Not Done' }}</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>