<h3>Net Distribution</h3>
<md-whiteframe class="md-whiteframe-z2" layout="column" layout-align="start start" style="padding-bottom: 20px">

        <form name="scaningForm" novalidate="" style="padding-bottom: 10px">
            <span><label>Scan(write) the Code on Voucher</label> &nbsp;&nbsp;&nbsp;&nbsp;<input name="kayaId" ng-change="checkKaya(data.kayaId)" ng-model="data.kayaId" id="voucher_no" type="text" style="border: 0px;border-bottom: 2px dotted" required="">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-if="!currentKayaPresent"> <strong> {{ addTwo(currentKaya.male,currentKaya.female) }} Net(s)</strong>  </span>
        <md-button ng-disabled="currentKayaPresent || currentKaya.status == 1" class="md-hue-3 md-primary md-raised" ng-click="distributeKaya(data.kayaId)">Distribute</md-button>
        <!--<md-button class="md-hue-3 md-primary md-raised" ng-click="activatecheckKaya()">Check Again</md-button>-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-if="checkingKaya"><i class="fa fa-spin fa-spinner fa-2x"></i> Checking... </span>
        <span ng-if="currentKaya.status == 1" class="text-success"><i class="fa fa-check fa-2x"></i> Done </span>
        <span ng-if="performingDistribution"><i class="fa fa-spin fa-spinner fa-2x"></i> Confirming Distribution... </span>
        <span ng-if="errorcheckingKaya && !scaningForm.kayaId.$error.required" class="text-danger"><i class="fa fa-exclamation"></i> Incorrect Voucher Number Try Again </span>

            </span>
        </form>
    <div ng-include="'views/one_voucher.html'" >

    </div>
</md-whiteframe>