<h2>Districts </h2>
<md-list>
    <md-item ng-repeat="district in distictss">
        <md-item-content>
            <div class="md-tile-left">
            </div>
            <div class="md-tile-content">
                <h3>{{district.district}}</h3>
                <h4> {{ district.ward }} Wards, {{district.village }} Villages {{district.households }} Households </h4>
            </div>
            <div class="md-tile-right">
                <md-button title="Edit {{district.district}} " class="md-fab md-raised" style="width: 30px;height: 30px"><i class="fa fa-pencil"></i> </md-button>
                <md-button title="Delete {{district.district}}" class="md-fab md-raised md-warn" style="width: 30px;height: 30px"><i class="fa fa-trash-o"></i> </md-button>
            </div>
        </md-item-content>
    </md-item>
</md-list>