<h3 class="text-center">Import Coupons</h3>
<p style="font-size: 16px">This Functionality allows you to import the excel file containing coupons information to the system,
    The coupons will be imported but will be marked as not verified  </p>
 <md-whiteframe class="md-whiteframe-z5">
     <h4>The expected file format is</h4>
     <img src="xls.png">
     <hr>
     <input type="file" class="pull-left"/>
     <md-button class="md-raised md-hue-3 pull-left"><i class="fa fa-upload"></i> Upload
         <md-tooltip>
             Upload Selected File
         </md-tooltip></md-button>
 </md-whiteframe>