<style>
    .entry{
        border: 0px;
        border-bottom-style:dotted ;
        border-bottom-color:#000000 ;
        border-bottom-width:2px ;
        width: 100%;
        color: #23527c;
        background-color: #ffffff;
    }
    p{
        color: #000000;
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
<div>
    <div>
        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
            <div class="col-sm-12" style="border: 2px solid #000000">

                <div class="col-sm-6" style="border-right-style: dotted;border-right-color: #000000;border-right-width:1px;margin-top: 15px;margin-bottom: 15px">
                    <form name="kayaForm" novalidate>
                        <div class="col-xs-12">
                            <div class="col-xs-12"><b>Region:</b>
                                <select class="entry" ng-model="currentKaya.region" disabled>
                                    <option ng-repeat="region in data.regions" value="{{ region.id }}">{{ region.region }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-7"><b>Wilaya:</b>
                                <select class="entry" ng-model="currentKaya.district" disabled>
                                    <option ng-repeat="district in data.districts | filter:matchName(currentKaya.region)" value="{{ district.id }}">{{ district.district }}</option>
                                </select>
                            </div>
                            <div class="col-xs-5"><b>Kata:</b> <input readonly type="text" class="entry" ng-model="currentKaya.ward" required/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12"><b>Kijiji/Mtaa:</b> <input readonly type="text" class="entry" ng-model="currentKaya.village" required/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12"><b>Jina Mkuu wa Kaya:</b> <input readonly type="text" class="entry" ng-model="currentKaya.leader_name" required/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4"><b>Simu:</b> <input type="text" readonly class="entry" ng-model="currentKaya.phone"/></div>
                            <div class="col-xs-6"><b>Idadi ya wanakaya (me):</b> <input style="font-weight: bolder" readonly type="text" class="entry" ng-model="currentKaya.male" required/></div>
                            <div class="col-xs-2"><b>(ke):</b> <input type="text" class="entry" style="font-weight: bolder" ng-model="currentKaya.female" required/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12"><b>Kituo cha ugawaji:</b> <input readonly type="text" class="entry" ng-model="currentKaya.station"/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12"><b>Jina la VEO:</b> <input type="text" readonly class="entry" ng-model="currentKaya.name_of_veo"/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12"><b>Mwandishi:</b> <input type="text" readonly class="entry" ng-model="currentKaya.writer"/></div>
                        </div>
                    </form>
                    <div align="center" class="text-center">
                        <img ng-show="currentKaya.uid" style="height: 50px" src="http://barcode.tec-it.com/barcode.ashx?code=Code128&modulewidth=fit&data={{ currentKaya.uid }}&dpi=72&imagetype=gif&rotation=0&color=&bgcolor=&fontcolor=&quiet=0&qunit=mm" alt="Barcode generated by TEC-IT"/>
                    </div>

                </div>
                <div class="col-sm-6" style="margin-top: 15px;margin-bottom: 15px; background-image: url(mh.png);background-repeat: no-repeat;background-size: cover;">

                    <div class="row" style="margin-bottom: 25px">
                        <div class="col-md-2 hidden-sm">
                            <img alt="Brand" src="Nembo.png" style="height: 80px;width: 70px" class="img-rounded pull-left">
                        </div>
                        <div class="col-sm-12 col-md-8" style="padding-top: 10px">
                            <h4 class="text-center" style="font-size: 15px"> WIZARA YA AFYA NA USTAWI WA JAMII</h4>
                            <h4 class="text-center" style="font-size: 15px"> MPANGO WA TAIFA WA KUDHIBITI MALARIA</h4>
                        </div>
                        <div class="col-md-2 hidden-sm" >
                            <img alt="Brand" src="malaria.png" style="height: 80px;width: 70px" class="img-rounded pull-right">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-xs-11">
                            <div class="col-xs-12">
                                <div class="col-xs-7"><b>Wilaya:</b>
                                    <select class="entry" ng-model="currentKaya.district" disabled>
                                        <option ng-repeat="district in data.districts | filter:matchName(currentKaya.region)" value="{{ district.id }}">{{ district.district }}</option>
                                    </select>
                                </div>
                                <div class="col-xs-5"><b>Kijiji/Mtaa:</b> <input readonly type="text" class="entry" ng-model="currentKaya.village"/></div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12"><b>Mkuu wa Kaya:</b> <input readonly type="text" class="entry" ng-model="currentKaya.leader_name"/></div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12"><b>Kituo cha ugawaji:</b> <input readonly type="text" class="entry" ng-model="currentKaya.station"/></div>
                            </div>

                        </div>
                        <div class="col-xs-1">
                            <img ng-show="currentKaya.uid" class="pull-left" src="http://barcode.tec-it.com/barcode.ashx?code=Code128&modulewidth=fit&data={{ currentKaya.uid }}&dpi=72&imagetype=gif&rotation=90&color=&bgcolor=&fontcolor=&quiet=0&qunit=mm" alt="Barcode generated by TEC-IT"/>
                        </div>
                    </div>

                    <p class="text-center" >Hakikisha unakuja na shahada hii siku ya ugawaji wa vyandarua katika</p>
                    <p class="text-center">kituo kilicho cha ugawaji kilichochaguliwa. Hakikisha unalala kwenye</p>
                    <p class="text-center">chandarua chako kila siku</p>

                    <div class="col-sm-12">
                        <div class="col-xs-6"><img alt="Global Fund" src="globalfund.png" style="height: 70px;width: 160px" class="img-rounded pull-right"></div>
                        <div class="col-xs-6"><img alt="USAID" src="usaid.png" style="height: 70px;width: 140px" class="img-rounded pull-right"></div>
                    </div>
                </div>
            </div>
        </md-whiteframe>

    </div>
</div>