<style>
    .entry{
        border: 0px;
        border-bottom-style:dotted ;
        border-bottom-color:#000000 ;
        border-bottom-width:2px ;
        width: 100%;
        background-color: #ffffff;
    }
    p{
        color: #000000;
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
<div>
    <div>
        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
            <div class="col-sm-12" style="border: 2px solid #000000">

                <div class="col-sm-7" style="border-right-style: dotted;border-right-color: #000000;border-right-width:1px;margin-top: 15px;margin-bottom: 15px">
                    <form name="kayaForm" novalidate>
                        <div class="col-xs-12">
                            <div class="col-xs-7">Voucher Number: <input type="text" class="entry" ng-model="currentKaya.uid" required/></div>

                            <div class="col-xs-5">Region:
                                <select class="entry" ng-model="currentKaya.region">
                                    <option ng-repeat="region in data.regions" value="{{ region.id }}">{{ region.region }}</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-7">Wilaya:
                                <select class="entry" ng-model="currentKaya.district" required ng-change="getWards(currentKaya.district)">
                                    <option ng-repeat="district in data.districts | filter:matchName(currentKaya.region)" value="{{ district.id }}">{{ district.district }}</option>
                                </select>
                            </div>
                            <div class="col-xs-5">Kata:
                                <select class="entry" ng-model="currentKaya.ward" ng-change="getVillages(currentKaya.ward)">
                                    <option ng-repeat="ward in data.disward" value="{{ ward.id }}">{{ ward.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">Kijiji/Mtaa:
                                <select class="entry" ng-model="currentKaya.village" >
                                    <option ng-repeat="village in data.disvillage" value="{{ village.id }}">{{ village.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">Jina Mkuu wa Kaya: <input type="text" class="entry" ng-model="currentKaya.leader_name" required/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4">Simu: <input type="text" class="entry" ng-model="currentKaya.phone"/></div>
                            <div class="col-xs-6">Idadi ya wanakaya (me): <input type="text" class="entry" ng-model="currentKaya.male" required/></div>
                            <div class="col-xs-2">(ke): <input type="text" class="entry" ng-model="currentKaya.female" required/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">Kituo cha ugawaji: <input type="text" class="entry" ng-model="currentKaya.station"/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">Jina la VEO: <input type="text" class="entry" ng-model="currentKaya.name_of_veo"/></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">Mwandishi: <input type="text" class="entry" ng-model="currentKaya.writer"/></div>
                        </div>
                    </form>
                    <div align="center" class="text-center">
                        <img style="height: 50px" src="http://barcode.tec-it.com/barcode.ashx?code=Code128&modulewidth=fit&data={{ currentKaya.uid }}&dpi=72&imagetype=gif&rotation=0&color=&bgcolor=&fontcolor=&quiet=0&qunit=mm" alt="Barcode generated by TEC-IT"/>
                    </div>

                </div>
                <div class="col-sm-5" style="margin-top: 15px;margin-bottom: 15px; background-image: url(mh.png);background-repeat: no-repeat;background-size: cover;">

                    <div class="row" style="margin-bottom: 25px">
                        <div class="col-md-2 hidden-sm">
                            <img alt="Brand" src="Nembo.png" style="height: 80px;width: 70px" class="img-rounded pull-left">
                        </div>
                        <div class="col-sm-12 col-md-8" style="padding-top: 10px">
                            <h4 class="text-center" style="font-size: 14px"> WIZARA YA AFYA NA USTAWI WA JAMII</h4>
                            <h4 class="text-center" style="font-size: 14px"> MPANGO WA TAIFA WA KUDHIBITI MALARIA</h4>
                        </div>
                        <div class="col-md-2 hidden-sm" >
                            <img alt="Brand" src="malaria.png" style="height: 80px;width: 70px" class="img-rounded pull-right">
                        </div>
                    </div>
                    <div class="col-sm-12" style="padding-left: 0px">
                        <div class="col-xs-11" style="padding-left: 0px">
                            <div class="col-xs-12" style="padding-left: 0px">
                                <div class="col-xs-7" style="padding-left: 0px">Wilaya:
                                    <select class="entry" ng-model="currentKaya.district" ng-change="getWards(currentKaya.district)">
                                        <option ng-repeat="district in data.districts | filter:matchName(currentKaya.region)" value="{{ district.id }}">{{ district.district }}</option>
                                    </select>
                                </div>
                                <div class="col-xs-5" >Kijiji/Mtaa::

                                    <select class="entry" ng-model="currentKaya.village" >
                                        <option ng-repeat="village in data.disvillage" value="{{ village.id }}">{{ village.name }}</option>
                                    </select>
                            </div>
                            <div class="col-xs-12" style="padding-left: 0px">
                                <div class="col-xs-12" style="padding-left: 0px">Mkuu wa Kaya: <input type="text" class="entry" ng-model="currentKaya.leader_name"/></div>
                            </div>
                            <div class="col-xs-12" style="padding-left: 0px">
                                <div class="col-xs-12" style="padding-left: 0px">Kituo cha ugawaji: <input type="text" class="entry" ng-model="currentKaya.station"/></div>
                            </div>

                        </div>
                        <div class="col-xs-1">
                            <img class="pull-left" src="http://barcode.tec-it.com/barcode.ashx?code=Code128&modulewidth=fit&data={{ currentKaya.uid }}&dpi=72&imagetype=gif&rotation=90&color=&bgcolor=&fontcolor=&quiet=0&qunit=mm" alt="Barcode generated by TEC-IT"/>
                        </div>
                    </div>
<div class="col-xs-12">
                    <p class="text-center" style="font-size: 12px;margin: 2px">Hakikisha unakuja na shahada hii siku ya ugawaji wa vyandarua katika</p>
                    <p class="text-center" style="font-size: 12px;margin: 2px">kituo kilicho cha ugawaji kilichochaguliwa. Hakikisha unalala kwenye</p>
                    <p class="text-center" style="font-size: 12px;margin: 2px">chandarua chako kila siku</p>
</div>
                    <div class="col-sm-12">
                        <div class="col-xs-6"><img alt="Global Fund" src="globalfund.png" style="height: 70px;width: 160px;opacity: 0.3" class="img-rounded pull-right"></div>
                        <div class="col-xs-6"><img alt="USAID" src="usaid.png" style="height: 70px;width: 140px;opacity: 0.3" class="img-rounded pull-right"></div>
                    </div>
                </div>
            </div>
        </md-whiteframe>

            <!--saving messages-->
            <span class="pull-left" ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
            <span class="pull-left text-success" ng-if="kayaSavedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
            <span class="pull-left text-danger" ng-if="kayaSavedFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

            <!--updating message-->
            <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
            <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
            <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

            <div ng-hide="currentEditting"class="btn btn-primary btn-sm pull-right" ng-click="saveKaya(currentKaya)" ng-disabled="kayaForm.$invalid">&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i> Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
            <div ng-show="currentEditting" class="btn btn-primary btn-sm pull-right" ng-click="updateKaya(currentKaya)">Update </div>
            <div ng-show="currentEditting" class="btn btn-warning btn-sm pull-right" ng-click="cancelEditting()">Cancel </div>

    </div>
</div>

<!--displaying the list of kayas-->
<div ng-include="'views/kayalist.html'"></div>
