<h1>Stations Page</h1>
<md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="start start" style="padding-bottom: 20px">
    <div flex>
        <form name="orgUnitForm" novalidate ng-if="data.currentLevel < 5">
            <label>Name &nbsp;&nbsp;&nbsp;</label>
            <input ng-model="data.addedOrgUnit" required name="orgUnit" id="orgUnit" type="text" style="border: 0px;border-bottom: 2px dashed;width: 70%" >
            <md-button class="md-primary md-hue-3 md-raised" ng-disabled="orgUnitForm.orgUnit.$error.required || data.currentLevel > 4" ng-click="addOrgUnit(data.addedOrgUnit)">Add</md-button>
            <span class="help-block" ng-if="!orgUnitForm.orgUnit.$error.required">Add {{ data.addedOrgUnit }} to {{ data.currentOrgUnit }}</span>
        </form>
        <div ng-include="currentListing"></div>
    </div>
    <div flex>
        <abn-tree
                tree-data         = "data.orgUnit"
                tree-control      = "my_tree"
                icon-leaf         = "fa fa-file"
                icon-expand       = "fa fa-plus"
                icon-collapse     = "fa fa-minus"
                on-select         = "my_tree_handler(branch)"
                expand-level      = "2"
                initial-selection = "Tanzania"
                style="font-size: 12px">
            ></abn-tree>
    </div>
</md-whiteframe>